  .l-header__inner {
    width:100%;
    z-index: 1;
    @include position("center-center");
    top: 45%;

    @include pc {
      top: 47.5%;
    }

    .l-header__item {
      margin: 8px 8px 0;
      @include font-family__en(300);
      @include pc {
        margin: 12px 12px 0;
      }
    }
  }



.l-header-nav-fixed {
  width: 100%;
  will-change: transform;
  transition: transform .4s ease;
  z-index: 2;

  .l-header-nav-fixed__inner {
    width: 93.75%;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .l-header-nav-fixed__logo {
      width: 300px;
      @include font-family__en(600);
      font-size: 24px;
      font-size: 2.4rem;
      a {
        color: $palette__navy;
        transition: all 0.4s ease 0s;

        @include pc {

          &:hover {
            color: $palette__blue;
            transition: all 0.4s ease 0s;
          }
        }
      }
    }

    .l-header-nav-fixed__list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include font-family__en(300);
      width: calc(100% - 300px);

      .p-nav__item {
        font-size: 21px;
        font-size: 2.1rem;

        a {
          color: $palette__navy;
          @include icon-line (0.3em, 0.2em, $palette__navy);
        }
        + .p-nav__item {
          margin-left: 1.6em;
        }
      }
    }
  }
}

.home .l-header-nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-80px);
    transition: transform .4s ease;
    background-color: rgba($color: #fff, $alpha: 0.9);
}


.home .l-header-nav__active {
  top: 0%;
  transform: translateY(0);
  background-color: rgba($color: #fff, $alpha: 0.9);
  transition: transform .4s ease;
  .l-header-nav-fixed__inner {
    height: 64px;
  }
}

.page .l-header-nav-fixed {
  top: 0%;
  transform: translateY(0);
  transition: transform .4s ease;
  background-color: rgba($color: #fff, $alpha: 0.9);
}

.page .l-header-nav__active {
  position: fixed;
  top: -64px;
  left: 0;
  transform: translateY(64px);
  transition: transform .4s ease;
  background-color: rgba($color: #fff, $alpha: 0.9);
  .l-header-nav-fixed__inner {
    height: 64px;
  }
}
