.l-index-kv {
  //@include width-320;
  width: 100%;
  margin: 0 auto;

  .l-index-kv__slide {
    position: relative;
    width: 100%;
    padding-top: 100vh;
    overflow: hidden;
    //background-color: #c6c6c6;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
      opacity: 0;
      animation: slideshow 40s linear infinite;

      &:nth-child(2) {
        animation-delay: 8s;
      }
      &:nth-child(3) {
        animation-delay: 16s;
      }
      &:nth-child(4) {
        animation-delay: 24s;
      }
      &:nth-child(5) {
        animation-delay: 32s;
      }
    }
  }
}



@keyframes slideshow {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  28% {
    opacity: 1
  }

  38% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


