.p-page-kv {

  .p-page-kv__inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 62.5%;

    @include pc {
      padding-top: 0;
      height: 320px;
    }

    .p-page-kv__img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      @include overlay;

      @include pc {
        position: relative;
        width: 2048px;
        display: block;
        text-align: center;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
