$palette__white: #fff;
$palette__black: #333;
$palette__dark-gray: #666;
$palette__gray: #ccc;
$palette__light-gray: #f7f7f7;
$palette-cherryRed: #D41655;
$palette-sandGray: #999;


$color__kv-txt: $palette__white;
$color__header-nav-txt: $palette__white;
$color__article-txt: $palette__black;
